<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nafwa03.dietitiancalculators">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.nafwa03.dietitiancalculators.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nafwa03.dietitiancalculators.BMI" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.IBW" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.VitD" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.BMR" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.Mifflin" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.Milligram" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.CSodium" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.CCalcium" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.SettingsActivity" />
        <activity android:name="com.example.nafwa03.dietitiancalculators.BodyFatPercent"></activity>
    </application>

</manifest>