<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jab6677.healthcalculators">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BMI" />
        <activity android:name=".BMR" />
        <activity android:name=".Mifflin" />
        <activity android:name=".Milligram" />
        <activity android:name=".CSodium" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BodyFatPercent"></activity>
    </application>

</manifest>